/*CSS - Chat Teste Tardus
Autor: Juan Caio
Atualização: 16/11/2018
*/

/*Geral*/
body{
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    padding: auto;
    background-color: #CFCFCF;
}

nav{
    background-color: transparent;
    box-shadow: none;
}

/*Chat*/

/***********************Header**********************/
.chat{
    border-radius: 5px 5px 5px 5px;
    background-color: #FFFFFF;
    box-shadow: #f2f2f2 0px 2px 4px;
    min-width: 560px;
    min-height: 515px;
    max-width: 100px;
    max-height: 100px;
    margin: auto;
    padding: auto;
    text-align: center;
}

.name{
    position: relative;
    color: #026FC2;
    font-weight: 700;
    font-size: 15px;
    margin-right: 20px;
    margin-top: 0;
    padding-top: 0;
}

.name-logo{
    color: #fff;
    display: inline-block;
    padding: 0;
    padding-left: 10px;
    cursor: default;
}

.horario{
    position: relative;
    margin: 0;
    color: #9DAFBD;
    font-weight: 400;
    font-size: 15px;
    margin-top: -45px;
}

.icon-horario{
    line-height: 1px !important;
    display: inline-block !important;
    font-size: 15px !important;
    font-weight: 400;
}

.circulo{
    background-color: #026FC2;
    width: 30px;
    height: 30px;
    box-shadow: none;
}

a.btn-floating.circulo:hover, a.btn.mybtn:hover{
    background-color: #9DAFBD;
}

.tam-img{
    width: 16px;
}

.mybtn{
    background-color: #026FC2;
    box-shadow: none;
    border-radius: 30px 30px 30px 30px;
    font-weight: 500;
    font-size: 14px;
    text-transform: initial;
}

nav ul a.btn,  nav ul a.btn-floating{
    margin-top: 0px;
    margin-left: 4px;
    margin-right: 8px;
}

a.search{
    margin-right: 10px !important;
}

div.header{
    border-bottom: #EBEBEB 1px solid;
    margin-left: 15px;
    margin-right: 15px;
}

/***********************Main**********************/
.horario-main{
    color: #999999;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: auto;
    margin-top: auto;
}

.box-chat-blue{
    background-color: #0083FF;
    border: none;
    border-radius: 20px 20px 0px 20px;
    margin-right: 15px;
    padding: 10px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box-chat-gray{
    background-color: #EDF0F2;
    border: none;
    border-radius: 20px 20px 20px 0px; 
    margin-left: 15px;
    padding: 10px;
    color: #748998;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

/***********************Input**********************/

div.input{
    border-top: #EBEBEB 1px solid;
    margin-left: 15px;
    margin-right: 15px;
}

textarea{
    height: 2.5rem !important;
}

textarea.materialize-textarea.input-chat{
    border: 1px solid #9DAFBD;
    border-radius: 50px 50px 50px 50px;
    width: 340px;
    min-width: 100%;
    max-width: 390px !important;
    min-height: 36px !important;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 50px;
}

textarea.materialize-textarea.input-chat:focus{
    border: 1px solid #0083FF;
    box-shadow: none;
}

textarea::placeholder{
    color: #9DAFBD;
    font-size: 16px;
    font-weight: 400;
}

.icon-send{
    margin-left: 120px;
    top: 4px !important;
    color: #9DAFBD;
}

.icon-send:hover{
    color: #0083FF; 
}

.icones-btns{
    color: #9DAFBD;
    margin-top: 18px;
}

div.icones-btns i.material-icons{
    margin-right: 2px;
    color: #9DAFBD;
}

div.icones-btns i.material-icons:hover{
    color: #0083FF;   
}

